.nested-list-parent-link,
.nested-list-child-link {
  color: $main-text-color;

  &:hover {
    color: $mongodb-light-green;
  }
}

.nested-list-parent-entry,
.nested-list-child-entry {
  &:hover {
    .nested-list-delete-icon,
    .nested-list-delete-collection-icon {
      background-color: $main-background-color;
    }
  }
}

.nested-list-parent-link-is-selected {
  color: $mongodb-green;
}

button {
  &.data-explorer-navigation-button {
    &.button {
      &.button-is-small {
        @include apply-dropdown-change;
      }
    }
  }
}

.data-explorer-navigation-filter {
  background: $section-wrapper-background-color;
  border-radius: 7px;
  box-shadow: $sections-shadow;
}

.data-explorer-navigation-filter-input {
  background: $section-wrapper-background-color;
}
