// Colors
$main-background-color: #272b2f;
$main-text-color: #e0e7e8;
$main-text-color-invert: #212720;
$subtext-color: #9fa1a2;
$section-wrapper-background-color: #393d42;
$dark-border-color: #424950;
$chart-background-color: #545b63;
$mongodb-light-green: rgb(82, 223, 141);
$mongodb-green: #13aa52;
$mongodb-darker-green: #0e7e3d;
$cluster-link-blue-color: #05afff;
$admonition-background-color: #363a3f;
$sub-text-result-color: #808080;
$alert-warning-background: #d9a252;
$alert-warning-text: #fffbf6;
// Shadows
$sections-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
