// VARIABLES
$system-default-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$system-default-monospace: "SF Mono", "Monaco", "Inconsolata", "Fira Mono",
  "Droid Sans Mono", "Source Code Pro", monospace;

// TYPOGRAPHY
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $main-text-color;
  font-family: $system-default-font;
  font-weight: 500;
}
