// Colors
$main-background-color: #272b2f;
$main-text-color: #e0e7e8;
$main-text-color-invert: #212720;
$section-wrapper-background-color: #393d42;
$dark-border-color: #424950;
$navbar-color: #424950;
$mongodb-light-green: rgb(82, 223, 141);
$mongodb-green: #13aa52;
$mongodb-darker-green: #0e7e3d;
$admonition-background-color: #363a3f;
$sub-text-result-color: grey;
// Shadows
$sections-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);